venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
.pytest_cache/
.coverage
htmlcov/
*.env
.env
secrets.json
*.db
*.sqlite3
.DS_Store
Thumbs.db
.vscode/
.idea/
.ipynb_checkpoints/

data/raw/AHD_english.xlsx

# ملفات المستخدمين (بيانات خاصة)
data/users/
